body {
    background-color: #FEEAEB;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

h1 {
    color: #FF69B4;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px #F4A7B6;
    margin-top: 30px;
}

h2 {
    color: #dda0b9;
    font-weight: bold;
    font-size: 35px;
    text-transform: capitalize;
    text-decoration: none;
    text-shadow: 1px 1px 10px #E6E6FA;
    text-align: center;
    padding: 10px;
    border-bottom: 2px dashed #FFC0CB;
}

h3 {
    color: #FFC0CB;
    font-size: 28px;
    text-shadow: 1px 1px 5px #d35590;
    text-transform: none;
    text-decoration: none;
    text-align: left;
    margin-left: 20px;
}

hr {
    border: none;
    height: 5px;
    width: 80%;
    background-color: #f080ab;
    border-radius: 5px;
    margin: 20px auto;
}

div {
    color: #4B0082;
    padding: 10px;
    font-style: normal;
    background-color: #FFF0F5;
    border-radius: 15px;
    margin: 10px 5%;
    box-shadow: 0 4px 8px rgba(255, 105, 180, 0.3);
}

p {
    color: #8A2BE2;
    text-decoration: none;
    text-align: center;
    text-transform: none;
    text-shadow: 1px 1px 0px #FFC0CB;
    font-size: 18px;
}

form {
    text-align: center;
    padding: 20px;
}

input[type="text"],
input[type="email"],
input[type="submit"]{
    background-color: #FFDAB9;
    color: #4B0082;
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid #FF69B4;
    box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
    transition: all 0.3s ease;
}

input[type="submit"]:hover,
button:hover,
input[type="text"]:focus,
input[type="email"]:focus {
    background-color: #FFC0CB;
    border-color: #C71585;
    box-shadow: 0 4px 8px rgba(255, 105, 180, 0.7);
}

button {
    background-color: #FFDAB9;
    color: #4B0082;
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid #FF69B4;
    box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
    cursor: pointer;
}

textarea {
    background-color: #FFDAB9;
    color: #4B0082;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #FF69B4;
    box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
}

#prioridad-consulta {
    background-color: #FFDAB9;
    color: #4B0082;
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid #FF69B4;
    box-shadow: 0 2px 4px rgba(255, 105, 180, 0.5);
}